<!-- _includes/header.html -->

<header>

{% if page.lang == "en" %}
  {% assign home = "/en/" %}
  {% assign about = "/en/about_me_en.html" %}
  {% assign achievements = "/en/achievements_en.html" %}
  {% assign blog = "/en/blog/blog_index_en.html" %}
  {% assign sponsoring = "/en/sponsoring_en.html" %}
  {% assign gallery = "/en/photo_gallery_index_en.html" %}
  {% assign contact = "/en/sponsoring_en.html#contact" %}
{% else %}
  {% assign home = "/" %}
  {% assign about = "/about_me.html" %}
  {% assign achievements = "/achievements.html" %}
  {% assign blog = "/blog/blog_index.html" %}
  {% assign sponsoring = "/sponzoring.html" %}
  {% assign gallery = "/photo_gallery_index.html" %}
  {% assign contact = "/sponzoring.html#kontakt" %}
{% endif %}


<div class="header_pc">

<a href="{{ home | relative_url }}" class="logo_webu">
  <img
    src="{{ '/Logo_webu_white.svg' | relative_url }}"
    alt="logo webu"
    width="60"
    height="60"
  />
</a>


<div class="header_middle">

<a href="{{ home | relative_url }}">
{% if page.lang == "en" %}Home{% else %}Domů{% endif %}
</a>

<a href="{{ about | relative_url }}">
{% if page.lang == "en" %}About me{% else %}O mně{% endif %}
</a>

<a href="{{ achievements | relative_url }}">
{% if page.lang == "en" %}Achievements{% else %}Úspěchy{% endif %}
</a>

<a href="{{ blog | relative_url }}">
Blog
</a>

<a href="{{ sponsoring | relative_url }}">
{% if page.lang == "en" %}Sponsors{% else %}Sponzoring{% endif %}
</a>

<a href="{{ gallery | relative_url }}">
{% if page.lang == "en" %}Gallery{% else %}Fotogalerie{% endif %}
</a>

<a href="{{ contact | relative_url }}">
{% if page.lang == "en" %}Contact{% else %}Kontakt{% endif %}
</a>


{% if page.lang == "en" %}

<a href="{{ page.cz_url | relative_url }}" class="header_hover">
<img
src="{{ '/images/cz.svg' | relative_url }}"
alt="Čeština"
width="19"
height="14"
/>
</a>

{% else %}

<a href="{{ page.en_url | relative_url }}" class="header_hover">
<img
src="{{ '/images/gb.svg' | relative_url }}"
alt="English"
width="19"
height="14"
/>
</a>

{% endif %}


</div>
</div>


<div class="header_mobile">

<nav class="mobilni-menu">

<a href="{{ home | relative_url }}">
<img
src="{{ '/Logo_webu_white.svg' | relative_url }}"
alt="logo_webu"
height="40"
class="mobilni_logo"
/>
</a>


<input type="checkbox" id="toggle-menu" autocomplete="off" />

<div class="menu-overlay"></div>

<label for="toggle-menu" class="menu-ikona">
<span></span>
<span></span>
<span></span>
</label>


<ul class="odkazy-menu">


<li>
<a href="{{ home | relative_url }}">
<i class="fa-solid fa-house"></i>
{% if page.lang == "en" %}Home{% else %}Domů{% endif %}
</a>
</li>

<div class="separator"></div>


<li>
<a href="{{ about | relative_url }}">
<i class="fa-solid fa-user"></i>
{% if page.lang == "en" %}About me{% else %}O mně{% endif %}
</a>
</li>

<div class="separator"></div>


<li>
<a href="{{ achievements | relative_url }}">
<i class="fa-solid fa-trophy"></i>
{% if page.lang == "en" %}Achievements{% else %}Úspěchy{% endif %}
</a>
</li>

<div class="separator"></div>


<li>
<a href="{{ blog | relative_url }}">
<i class="fa-solid fa-pencil-alt"></i>
Blog
</a>
</li>

<div class="separator"></div>


<li>
<a href="{{ sponsoring | relative_url }}">
<i class="fa-solid fa-hand-holding-dollar"></i>
{% if page.lang == "en" %}Sponsors{% else %}Sponzoring{% endif %}
</a>
</li>

<div class="separator"></div>


<li>
<a href="{{ gallery | relative_url }}">
<i class="fa-solid fa-camera"></i>
{% if page.lang == "en" %}Gallery{% else %}Fotogalerie{% endif %}
</a>
</li>

<div class="separator"></div>


<li>
<a href="{{ contact | relative_url }}">
<i class="fa-solid fa-envelope"></i>
{% if page.lang == "en" %}Contact{% else %}Kontakt{% endif %}
</a>
</li>


</ul>

</nav>

</div>

</header>