<header>
  <nav id="horní_lišta">
    <a class="navigation_menu_buttons" href="/index.html">Domů</a>
    {% for item in site.menu offset:1 %}
    <a class="navigation_menu_buttons" href="{{ item.link }}"
      >{{ item.name }}</a
    >
    {% endfor %}

    <!-- Language Switcher -->
    <a href="/en/index_en.html" hreflang="en" lang="en" class="language-switcher">
      <img src="/images/gb.svg" alt="English" width="24" height="16" />
    </a>

    <!-- Dark mode toggle -->
    <button id="dark-mode-toggle" class="dark-toggle">🌙</button>

    <!-- Logo -->
    <a href="/index.html" class="logo_webu">
      <img src="{{ site.logo }}" alt="logo webu" width="80" height="80" />
    </a>
  </nav>

  <!-- Mobilní menu -->
  <nav class="mobilni-menu">
    <input type="checkbox" id="toggle-menu" autocomplete="off" />
    <label for="toggle-menu" class="menu-ikona">
      <span></span><span></span><span></span>
    </label>
    <ul class="odkazy-menu">
      {% for item in site.menu %}
      <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
