<!-- _includes/header.html -->

<header>

{% if page.url contains '/en/' %}
  {% assign is_en = true %}
{% else %}
  {% assign is_en = false %}
{% endif %}


<div class="header_pc">

<a href="{{ '/' | relative_url }}" class="logo_webu">
  <img
    src="{{ '/Logo_webu_white.svg' | relative_url }}"
    alt="logo webu"
    width="60"
    height="60"
  />
</a>


<div class="header_middle">

<a href="{% if is_en %}/en/{% else %}/{% endif %}">
{% if is_en %}
Home
{% else %}
Domů
{% endif %}
</a>


<a href="{% if is_en %}/en/about_me_en.html{% else %}/about_me.html{% endif %}">
{% if is_en %}
About me
{% else %}
O mně
{% endif %}
</a>


<a href="{% if is_en %}/en/achievements_en.html{% else %}/achievements.html{% endif %}">
{% if is_en %}
Achievements
{% else %}
Úspěchy
{% endif %}
</a>


<a href="{% if is_en %}/en/blog/blog_index_en.html{% else %}/blog/blog_index.html{% endif %}">
Blog
</a>


<a href="{% if is_en %}/en/sponzoring_en.html{% else %}/sponzoring.html{% endif %}">
{% if is_en %}
Sponsors
{% else %}
Sponzoring
{% endif %}
</a>


<a href="{% if is_en %}/en/photo_gallery_index_en.html{% else %}/photo_gallery_index.html{% endif %}">
{% if is_en %}
Gallery
{% else %}
Fotogalerie
{% endif %}
</a>


<a href="{% if is_en %}/en/sponzoring_en.html#kontakt{% else %}/sponzoring.html#kontakt{% endif %}">
{% if is_en %}
Contact
{% else %}
Kontakt
{% endif %}
</a>



<!-- Přepínač jazyka -->

{% assign hide_language_switch = false %}

<!-- Skrytí u podstránek fotogalerie -->
{% if page.layout == "photogallery" and page.url != "/photo_gallery_index.html" and page.url != "/en/photo_gallery_index_en.html" %}
  {% assign hide_language_switch = true %}
{% endif %}

<!-- Skrytí u článků -->
{% if page.layout == "post_new" %}
  {% assign hide_language_switch = true %}
{% endif %}


{% unless hide_language_switch %}

{% if page.url contains '/en/' %}

<a href="{{ page.url | remove: '/en' | replace: '_en', '' | relative_url }}"
class="header_hover"
hreflang="cs"
lang="cs">

<img
src="{{ '/images/cz.svg' | relative_url }}"
alt="Čeština"
width="19"
height="14"
/>

</a>

{% else %}

<a href="/en{{ page.url | replace: '.html', '_en.html' | relative_url }}"
class="header_hover"
hreflang="en"
lang="en">

<img
src="{{ '/images/gb.svg' | relative_url }}"
alt="English"
width="19"
height="14"
/>

</a>

{% endif %}

{% endunless %}


</div>
</div>




<!-- MOBILE HEADER -->

<div class="header_mobile">

<nav class="mobilni-menu">


<a href="{% if is_en %}/en/{% else %}/{% endif %}">
<img
src="{{ '/Logo_webu_white.svg' | relative_url }}"
alt="logo_webu"
height="40"
class="mobilni_logo"
/>
</a>



<input type="checkbox" id="toggle-menu" autocomplete="off" />

<div class="menu-overlay"></div>


<label for="toggle-menu" class="menu-ikona">
<span></span>
<span></span>
<span></span>
</label>



<ul class="odkazy-menu">


<li>
<a href="{% if is_en %}/en/{% else %}/{% endif %}">
<i class="fa-solid fa-house"></i>

{% if is_en %}
Home
{% else %}
Domů
{% endif %}

</a>
</li>


<div class="separator"></div>



<li>
<a href="{% if is_en %}/en/about_me_en.html{% else %}/about_me.html{% endif %}">
<i class="fa-solid fa-user"></i>

{% if is_en %}
About me
{% else %}
O mně
{% endif %}

</a>
</li>


<div class="separator"></div>



<li>
<a href="{% if is_en %}/en/achievements_en.html{% else %}/achievements.html{% endif %}">
<i class="fa-solid fa-trophy"></i>

{% if is_en %}
Achievements
{% else %}
Úspěchy
{% endif %}

</a>
</li>


<div class="separator"></div>



<li>
<a href="{% if is_en %}/en/blog/blog_index_en.html{% else %}/blog/blog_index.html{% endif %}">
<i class="fa-solid fa-pencil-alt"></i>

Blog

</a>
</li>


<div class="separator"></div>



<li>
<a href="{% if is_en %}/en/sponzoring_en.html{% else %}/sponzoring.html{% endif %}">
<i class="fa-solid fa-hand-holding-dollar"></i>

{% if is_en %}
Sponsors
{% else %}
Sponzoring
{% endif %}

</a>
</li>


<div class="separator"></div>



<li>
<a href="{% if is_en %}/en/photo_gallery_index_en.html{% else %}/photo_gallery_index.html{% endif %}">
<i class="fa-solid fa-camera"></i>

{% if is_en %}
Gallery
{% else %}
Fotogalerie
{% endif %}

</a>
</li>


<div class="separator"></div>



<li>
<a href="{% if is_en %}/en/sponzoring_en.html#kontakt{% else %}/sponzoring.html#kontakt{% endif %}">
<i class="fa-solid fa-envelope"></i>

{% if is_en %}
Contact
{% else %}
Kontakt
{% endif %}

</a>
</li>


</ul>

</nav>

</div>


</header>