.strip-image-container .slide {
  display: none;
  height: 100%;
}

.strip-image-container .slide.aktivni {
  display: block;
}

@media (max-width: 768px) {
  .education-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-4);
    height: 500px; /* pevná výška pro mobil */
    overflow: hidden;
  }

  .education-gallery .strip-image:not(.full) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .education-gallery .strip-image.full {
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .education-gallery {
    margin: auto 0;
  }
}
