:root {
  /* colors */
  --color-primary: #ffcb05;
  --color-primary-dark: #ff9900;

  --color-text: #f3f3f3;
  --color-text-dark: #121212;

  --color-border: #2a2a2a;
  --color-background: #141414;
  --color-header: rgba(15, 13, 13, 0.993);

  --radius-pill: 28px;

  --transition-fast: 0.2s ease;

  /* font size */
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.5rem; /* 24px */
  --font-2xl: 2rem; /* 32px */
  --font-3xl: 2.5rem; /* 40px */
  --font-4xl: 3rem; /* 48px */

  /* spacing */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.5rem; /* 24px */
  --space-6: 2rem; /* 32px */
  --space-7: 3rem; /* 48px */
  --space-8: 4rem; /* 64px */

  /* layout */
  --max-width: 1200px;
  --border-radius: 10px;

  /* typography */
  --font-main: "Inter", sans-serif;
}

/*shadows*/
/* 
text-shadow: #1c1c1c 0 0 10px;
*/
