<!doctype html>
<html lang="{{ site.language }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    <main>
      <div class="container section">
        <h1 class="photo-gallery-h1">
          {{ page.title | default: "Fotogalerie" }}
        </h1>
        {% unless page.hideBackButton %}
        <a
          href="{{ '/photo_gallery_index.html' | relative_url }}"
          class="button button--primary button--small gallery-button"
        >
          ← Zpět
        </a>
        {% endunless %}
        <div class="separate-line-gallery"></div>
      </div>

      <section class="section-gallery">
        <div class="grid grid--3 container grid-photogallery">
          {% for gallery in page.galleries %}
          <div class="gallery-card">
            <a href="{{ gallery.link }}" class="gallery-link">
              <span class="gallery-card-text">{{ gallery.year }}</span>

              {% if gallery.picture %} {% if gallery.picture %}
              <picture>
                {% for source in gallery.picture.sources %}
                <source srcset="{{ source.src }}" type="{{ source.type }}" />
                {% endfor %} {% assign objectStyle = "" %} {% if
                gallery.picture.objectPosition %} {% assign objectStyle =
                "object-position: " | append: gallery.picture.objectPosition |
                append: ";" %} {% endif %}
                <img
                  src="{{ gallery.picture.imgSrc }}"
                  alt="{{ gallery.picture.alt | default: gallery.year }}"
                  class="{{ gallery.picture.class }}"
                  loading="lazy"
                />
              </picture>
              {% else %}
              <img
                src="{{ gallery.imgSrc }}"
                alt="{{ gallery.alt | default: gallery.year }}"
                style="object-fit: cover; object-position: center"
                loading="lazy"
              />
              {% endif %} {% else %}
              <img
                src="{{ gallery.imgSrc }}"
                alt="{{ gallery.alt | default: gallery.year }}"
                style="object-fit: cover; object-position: center"
                loading="lazy"
              />
              {% endif %}
            </a>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>

    {% include footer.html %}

    <script src="/assets/js/dark-mode.js"></script>
    <script src="/assets/js/menu-close.js" defer></script>
    {% if page.scripts %} {% for script in page.scripts %}
    <script src="{{ script }}"></script>
    {% endfor %} {% endif %}
  </body>
</html>
