<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/blog_articles.css" />
    <script src="/assets/js/article-animation.js" defer></script>
  </head>
  <body>
    {% include header.html %}

    <main class="blog-article-main">
      <div class="container">
        

        {% if page.image %}
        <section 
          class="article-hero"
          style="--hero-image: url('{{ page.image }}'); --hero-position: {{ page.image_position | default: 'center top' }};"
        >

            
          <div class="article-hero-overlay">

            <h1 class="blog-article-h1">
              {{ page.h1 | default: page.title }}
            </h1>

            {% assign months =
            "ledna,února,března,dubna,května,června,července,srpna,září,října,listopadu,prosince"
            | split: "," %}

            {% assign month_index = page.date | date: "%-m" | minus: 1 %}

            <div class="article-meta">
              <span>{{ page.author | default: "Jakub Klokan" }}</span>
              <span>
                {{ page.date | date: "%-d." }}
                {{ months[month_index] }}
                {{ page.date | date: "%Y" }}
              </span>
              <span>·</span>
              <span>{{ page.reading_time | default: "3 min" }} čtení</span>
            </div>

          </div>
        </section>

        {% else %}

        <div class="article-no-image">

        <h1 class="blog-article-h1">
        {{ page.h1 | default: page.title }}
        </h1>

        </div>
        {% endif %}

        

        <div class="text">{{ content }}</div>

        {% if page.gallery %}
        <div class="article-gallery-link">
          <a href="{{ page.gallery }}" class="gallery-button-article">
            Prohlédnout fotogalerii
          </a>
        </div>
        {% endif %}

        {% if page.sponsors %}
        <section class="article-sponsors">

          <div class="section-divider-article">
            <span></span>
          </div>

          <h2>Partneři tohoto článku</h2>

          <p>
            Děkuji partnerům, kteří mi pomohli uskutečnit tento výjezd.
          </p>

          <div class="article-sponsors-grid">

            {% for sponsor in page.sponsors %}

            <a href="{{ sponsor.link }}" target="_blank" rel="noopener">
              <div class="sponsor-logo {% if sponsor.dark_background %}dark{% endif %}">

                <img 
                  src="{{ sponsor.logo }}" 
                  alt="{{ sponsor.name }}"
                >

              </div>
            </a>

            {% endfor %}

          </div>

          <div class="section-divider-article">
            <span></span>
          </div>

        </section>
        {% endif %}

         {% if page.tags %}
        <div class="tags">
          {% for tag in page.tags %}
          <span class="tag post">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}

        <section class="latest-posts">

          <h2>Nejnovější články</h2>

          <div class="latest-posts-grid">

            {% assign count = 0 %}

            {% for post in site.posts %}

            {% unless post.url == page.url %}

            <a href="{{ post.url }}" class="latest-post-card">

            <img src="{{ post.image }}">

            <div class="latest-post-content">
            <h3>{{ post.h1 | default: post.title }}</h3>
            <p>
              {{ post.date | date: "%d. %m. %Y" }}
            </p>
            </div>

            </a>

            {% assign count = count | plus: 1 %}

            {% if count == 3 %}
            {% break %}
            {% endif %}

            {% endunless %}

            {% endfor %}

          </div>

        </section>

      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
