<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/blog_articles.css" />
  </head>
  <body>
    {% include header.html %}

    <main class="blog-article-main">
      <div class="container section">
        <a
          class="button button--primary button--small article"
          href="/blog/blog_index.html"
          >← Zpět na blog</a
        >

        <h1 class="blog-article-h1">{{ page.title }}</h1>
        <div class="separate-line article"></div>
        <div class="date">{{ page.date | date: "%-d. %B %Y" }}</div>

        <div class="text">{{ content }}</div>

        {% if page.image %}
        <figure>
          <img
            class="img article"
            src="{{ page.image }}"
            alt="{{ page.title }}"
            class="img article-image"
          />
          <figcaption class="img-caption">
            Společně s Terkou Čechovou s cenami
          </figcaption>
        </figure>
        {% endif %} {% if page.tags %}
        <div class="tags">
          {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
